0 2 * * * docker exec db.local mysql -u agorakit -pp@ssw0rd agorakit -e "update membership set notification_interval = 1440; update groups set group_type=2; update membership set notification_interval=-1 where user_id<3;"
*/5 * * * * docker exec agorakit.local php artisan schedule:run > /dev/null
*/5 * * * * docker exec db.local mysql -u agorakit -pp@ssw0rd agorakit -e "insert into actions select uniq+number, a.created_at, a.updated_at,deleted_at, a.group_id, a.user_id, a.name, a.body, a.start + interval 4*number week, a.stop + interval 4*number week, a.location, a.latitude, a.longitude from (select substring(regexp_replace(md5(concat(group_id, user_id, name)), '[a-z]', ''),1,6) as uniq, min(id) as id from actions where name like '\%[MENSUEL]' group by 1) seed, actions as a, range_6 where seed.id=a.id;" >/dev/null 2>&1
*/5 * * * * docker exec db.local mysql -u agorakit -pp@ssw0rd agorakit -e "insert into actions select uniq+number, a.created_at, a.updated_at,deleted_at, a.group_id, a.user_id, a.name, a.body, a.start + interval number week, a.stop + interval number week, a.location, a.latitude, a.longitude from (select substring(regexp_replace(md5(concat(group_id, user_id, name)), '[a-z]', ''),1,6) as uniq, min(id) as id from actions where name like '\%[HEBDO]' group by 1) seed, actions as a, range_26 where seed.id=a.id;" >/dev/null 2>&1
0 */6 * * * docker exec db.local mysqldump -u agorakit -pp@ssw0rd -C -r /tmp/storage/dump.sql agorakit
5 */6 * * * docker exec agorakit.local /backup.sh > /dev/null
