*/5 * * * * docker exec agorakit.local php artisan schedule:run > /dev/null
0 0 * * * docker exec agorakit.local php artisan agorakit:deletefiles --force > /dev/null
0 1 * * * docker exec agorakit.local php artisan agorakit:cleanupdatabase --days=1 > /dev/null
*/5 * * * * docker exec db.local /db_maintenance.sh > /dev/null
5 */6 * * * docker exec agorakit.local /backup.sh > /dev/null
